@import '../../styles/settings.scss';


.columnForm {
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.span {
  margin: 10px;
}

.input {
  min-width: 200px;
  border-radius: 5px;
  padding: 10px 15px;
}