
@import '../../styles/settings.scss';

.hero {
  padding: $base-size;
}
.favorite {
 margin: auto;
}

.favorite_subtitle {
  padding: ($base-size * 2);
  font-size: 30px;
  text-align: center;
}

.cards{
  color: $color-dark;
}